body {
    background-color: rgb(249, 252, 228);
    margin: 0;
}

h1 {
    background-color: rgb(220, 119, 73);
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    height: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} 


div {
    background-color: rgb(222, 147, 112);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    padding: 15px; 
}

#buttons{
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    background-color: rgb(220, 97, 40);
    color: white;
    border-color: white;
    border-style: solid; 
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.3;
}

#add-button{
    height: 50px;
    width: 20%;
    font-size: 20px;
    border-radius: 10px;
}

.task{
    list-style-type: none;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
    background-color: rgb(249, 252, 228);
}


.text-task{
    font-size: 20px;
    border-bottom: 1px solid rgb(249, 252, 228);
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-right: 5%;
    width: 65%;
    display: inline-block;
}


.input-text{
    width: 60%;
    height: 30px;
    border-color: rgb(220, 119, 73);
    border-style: solid;
    margin-right: 10%;
    margin-left: 3%;
}

.delete-task{
    border-width: 1px;
    border-radius: 3px;
    margin-right: 5px;
}

.done-task{
    background-color: rgb(220, 97, 40, 0.5);
    color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 3px;
}


.done{ 
    background-color: rgb(134, 62, 23);
    border: none;
    cursor: auto;
}

.done:hover{
    opacity: 1;
}

.done:active{
    opacity: 1;
}


.edit-task{
    display: none;
    border-width: 1px;
    border-radius: 3px;
    margin-right: 5px;
}