body {
    background-color: rgb(249, 252, 228);
    margin: 0;
}

h1 {
    background-color: rgb(220, 119, 73);
    color: white;
    margin-top: 0;
    height: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#add-button{
        background-color: rgb(222, 147, 112);
        color: white;
        border-color: rgb(220, 119, 73);
        border-style: solid;
        height: 50px;
        width: 20%;
        border-radius: 10px; 
        cursor: pointer;
        font-size: 20px;
        margin-left: 40%;
}

#list-task-to-do{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* text-align: center; */
    background-color: rgb(222, 147, 112);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    padding: 5px;
}

.task{
    font-size: 20px;
    border-bottom: 1px solid rgb(249, 252, 228);
    list-style-type: none;
    margin-bottom: 20px; 
}
